<div class="container spaces">
    <div class="skill-cont">
        <div class="skills">
            <h4>SOFT SKILLS</h4>
            <div class="skill">
                        <div class="sk-name">Comunicación</div>
                        <div class="sk-bar">
                            <div class="sk-percentage" per="90%" style="max-width: 90%"></div>
                        </div>
            </div>
            <div class="skill">
                        <div class="sk-name">Gestion del Tiempo</div>
                        <div class="sk-bar">
                            <div class="sk-percentage" per="75%" style="max-width: 75%"></div>
                        </div>
            </div>
            <div class="skill">
                        <div class="sk-name">Trabajo en equipo</div>
                        <div class="sk-bar">
                            <div class="sk-percentage" per="80%" style="max-width: 80%"></div>
                        </div>
            </div>
            <div class="skill">
                        <div class="sk-name">Resolucion de problemas</div>
                        <div class="sk-bar">
                            <div class="sk-percentage" per="80%" style="max-width: 80%"></div>
                        </div>
            </div>
        </div>
    </div>
</div>