
    <div class="row">
        <div class="col">
            <div class="btn-edit" id="img-edit" onclick="change_tex()">
                <a href="#"><i class="fa-solid fa-pen-to-square edit-icon"></i></a>
            </div>
            <img src="../../../assets/myPhoto.jpg" class="img-fluid img-thumbnail" id="profile" alt="Profile Image">

        </div>
        <div class="col">
            <div class="titles">
                <div class="btn-edit" onclick="change_tex()">
                    <a href="#"><i class="fa-solid fa-pen-to-square edit-icon"></i></a>
                </div>
                <h1>> GUILLERMINA SALINAS_</h1>

                <div class="btn-edit" onclick="change_tex()">
                    <a href="#"><i class="fa-solid fa-pen-to-square edit-icon"></i></a>
                </div>
                <h3>Full Stack Developer JR</h3>
                
            </div>
        </div>
    </div>
