h1,h3{
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
}

#profile{
    position: absolute;
    top:30%;
    width: 20%;
    margin-left: 15%;
    border-radius: 50%;
}
.titles{
    position: absolute;
    top: 45%;
    align-items: center;
}

.btn-edit{
    text-align: right;
}

#img-edit{
    margin-right: 25%;
}
/*profile image circle responsive
@media(min-width:200px){
    #profile{
        position: absolute;
        top:20%;
        width: 20%;
        margin-left: 15%;
        border-radius: 50%;
    }
    .titles{
        top: 35%;
        margin-left: 50%;
    }
    h1, h3{
        font-size: x-small;
    }
}

/*--------------------------------------
@media(min-width:500px){
    #profile{
        position:absolute;
        top:25%;
        width: 20%;
        margin-left: 15%;
        border-radius: 50%;
    }
    .titles{
        position: absolute;
        top: 35%;
        margin-left: 45%;
        align-items:left;
    }
    h1,h3{
        font-size: larger;
    }
}

@media(min-width:700px){
    #profile{
        position:absolute;
        top:25%;
        width: 20%;
        margin-left: 15%;
        border-radius: 50%;
    }
    .titles{
        position: absolute;
        top: 35%;
        min-width: 100%;
        margin-left: 50%;
        align-items: center;
    }
}

@media(min-width:900px){
    #profile{
        position:absolute;
        top:10%;
        width: 20%;
        margin-left: 15%;
        border-radius: 50%;
    }
    .titles{
        position: absolute;
        top: 15%;
        min-width: 100%;
        margin-left: 5%;
        align-items: center;
    }
}


@media(min-width:1024px){
    #profile{
        position:absolute;
        top:25%;
        width: 20%;
        margin-left: 15%;
        border-radius: 50%;
    }
    .titles{
        position: absolute;
        top: 40%;
        min-width: 100%;
        margin-left: 10%;
        align-items: center;
    }
    h1, h3{
        font-size: 30px;
    }
}*/

