<div class="container spaces">
    <h4>HARD SKILLS</h4>
    <div class="skills">
        
        <circle-progress class="p-2"
            [percent]="50"
            [radius]="70"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="8"
            [animation]="true"
            [animationDuration]="1000"
            [title]="'Angular'"
            [subtitle]="'porcent'">
        </circle-progress>
        
        <circle-progress class="p-2"
        [percent]="50"
        [radius]="70"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [animation]="true"
        [animationDuration]="1000"
        [title]="'Javascript'"
        [subtitle]="'porcent'">
        </circle-progress>

        <circle-progress class="p-2"
        [percent]="55"
        [radius]="70"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [animation]="true"
        [animationDuration]="1000"
        [title]="'Java'"
        [subtitle]="'porcent'">
        </circle-progress>

        <circle-progress class="p-2"
        [percent]="50"
        [radius]="70"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [animation]="true"
        [animationDuration]="1000"
        [title]="'Spring Boot'"
        [subtitle]="'porcent'">
        </circle-progress>

        <circle-progress class="p-2"
        [percent]="80"
        [radius]="70"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [animation]="true"
        [animationDuration]="1000"
        [title]="'Bootstrap'"
        [subtitle]="'porcent'">
        </circle-progress>

        <circle-progress class="p-2"
        [percent]="50"
        [radius]="70"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [animation]="true"
        [animationDuration]="1000"
        [title]="'C#'"
        [subtitle]="'porcent'">
        </circle-progress>

        <circle-progress class="p-2"
        [percent]="50"
        [radius]="70"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [animation]="true"
        [animationDuration]="1000"
        [title]="'.Net'"
        [subtitle]="'porcent'">
        </circle-progress>

        <circle-progress class="p-2"
        [percent]="70"
        [radius]="70"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [animation]="true"
        [animationDuration]="1000"
        [title]="'Postman'"
        [subtitle]="'porcent'">
        </circle-progress>
    </div>
</div>