  p, a{
    color:rgb(255, 255, 255);
    font-size: medium;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  .layer{
    padding-bottom: 15%;
  }
  
  /*---hover---*/
  
  .card {
    margin-bottom: 20px;
    position:relative;
    height: auto;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    border-radius: 3px;
  }
  .card img {
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
    will-change: transform;
  }
  .card .layer{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(102, 102, 102, 0.8);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
  }
  .card:hover > .layer {
    opacity: 1;
    visibility: visible;
  }
  
  .card:hover > img{
    transform: scale(1.3);
  }
  
  .card:hover > .layer p{
    margin-top: 10%;
    margin-bottom: 15px;
  }
  
  .card .layer p{
    margin-left: 5%;
    transition: all 400ms ease-out;
    margin-right: 5%;
    text-align: center;
  }
  
  .card .layer a{
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
  }