<div class="container spaces">
    <h1>Proyectos</h1>
    <div class="row">

      <div class="col-md-4 sm-1">
        <h4>Porfolio AP</h4>
        <div class="card">
          <img src="../../../assets/img-proyects/CV-AP.png" alt="">
          <div class="layer">
            <p>Aplicación web. Angular, Java, Spring Boot, MySql</p>
            <a href=""> Ir al código </a>
          </div>
        </div>
      </div>
      
      <div class="col-md-4 sm-1">
        <h4>Porfolio AP</h4>
        <div class="card">
          <img src="../../../assets/img-proyects/CV-AP.png" alt="">
          <div class="layer">
            <p>Aplicación web. Angular, Java, Spring Boot, MySql</p>
            <a href=""> Ir al código </a>
          </div>
        </div>
      </div>

      <div class="col-md-4 sm-1">
        <h4>Porfolio AP</h4>
        <div class="card">
          <img src="../../../assets/img-proyects/CV-AP.png" alt="">
          <div class="layer">
            <p>Aplicación web. Angular, Java, Spring Boot, MySql</p>
            <a href=""> Ir al código </a>
          </div>
        </div>
      </div>

        

    </div>    
</div>