<section class="login vh-100">
  <div class="container login-cont">
    <img src="../../../assets/code.png" alt="icono">
    <h3 class="title mb-3" >Iniciar Sesión</h3>
    <form [formGroup]="form">
        <div class="mb-3">
          <label for="" class="form-label">Usuario </label>
          <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-5">
          <label for="" class="form-label">Contraseña </label>
          <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1">
        </div>
        <a href="/portfolio " class="btn btn-secondary btn-lg btn-block" type="submit">Cancelar</a>
        <button class="btn btn-secondary btn-lg btn-block" type="submit">Ingresar</button>
    </form>
  </div>
</section>
