<div class="row">
    <div class="col">
        <div class="head-bar">
            <img src="../../../assets/Logo-AP.png" id="logo" class="img-fluid" alt="Argentina Programa Logo">
            <app-social-media></app-social-media>
        </div>
    </div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col-10">
        <div class="btn-edit" id="btn-banner-edit" onclick="change_tex()">
            <a href="#"><i class="fa-solid fa-pen-to-square edit-icon"></i></a>
        </div>
        <img src="../../../../assets/Banner.svg" id="banner" class="img-fluid" alt="Banner">

    </div>
    <div class="col"></div>
</div>