<div class="container spaces">
    <h1>Educación</h1>
    <!--Card-->
  <div class="container">
    <div class="row">
      <div class="col-md-6 sm-1">
            <div class="card mb-3" style="max-width: 800px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../../assets/utn.frcu.png" class="img-fluid center-block" alt="Company Logo">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Universidad Tecnológica Nacional</h5>
                      <h6 class="card-title">Tecnicatura Universitaria en Programación</h6>
                      <p class="card-text">Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text.</p>
                      <p class="card-text"><small class="text-muted">2021 - actualidad</small></p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 sm-1">
          <div class="card-cont">
            <div class="card mb-3" style="max-width: 800px;">
                <div class="row g-0">
                  <div class="col-md-4 sm-1">
                    <img src="../../../assets/arg-programa.png" class="img-fluid rounded-start" alt="Company Logo">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Argentina Programa</h5>
                      <h6 class="card-title">Yo Programo</h6>
                      <p class="card-text">Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text. </p>
                      <p class="card-text"><small class="text-muted">2021 - actualidad</small></p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>





   