/* You can add global styles to this file, and also import other style files */

.spaces{
    margin-top: 50px;
}

*{
    color: #444;
}

html, body{
    height: 100vh;
}


.edit-icon{
    position: absolute;
    color: #333;
}


h1, h2, h3{
    text-transform: uppercase;
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
}